@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'SuisseWorks';
  src: url('fonts/SuisseWorks.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseWorks';
  src: url('fonts/SuisseWorks-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SequelSans';
  src: url('fonts/Sequel-Sans-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SequelSans';
  src: url('fonts/Sequel-Sans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.current-menu-item a,
.menu-item a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}






.button {
  padding: 15px 30px;
  display: inline-block;

  background:
    linear-gradient(to right, #191919 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, #191919 2px, transparent 2px) 0 0;

  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: background 0.5s ease-out;
}

.button:hover {
  background:
    linear-gradient(to right, blue 2px, transparent 2px) 0 100%,
    linear-gradient(to bottom, red 2px, transparent 2px) 0 100%,
    linear-gradient(to left, green 2px, transparent 2px) 0 100%,
    linear-gradient(to top, yellow 2px, transparent 2px) 0 100%;
  transition: none;
}








.pane.active {
  flex-grow: 10;
  max-width: 100%;
}

@media (min-width: 640px) {
  .pane.active .label {
    transform: translateX(0.5rem);
  }
}
.pane.active .content {
  max-width: none;
}
.pane.active .content > * {
  opacity: 1;
  transform: translateX(0);
}
