@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'SuisseWorks';
  src: url('fonts/SuisseWorks.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseWorks';
  src: url('fonts/SuisseWorks-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SequelSans';
  src: url('fonts/Sequel-Sans-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SequelSans';
  src: url('fonts/Sequel-Sans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/**
** Menu
**/
.current-menu-item a,
.menu-item a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.c-hamburger .c-hamburger-inner {
  @apply flex flex-col gap-x-8;
}

.nav-primary.active {
  visibility: visible;
  opacity: 1;
}

/**
** Button
**/
.button {
  border: none;
  background: none;
  width: fit-content;
  z-index: 10;
}

.button span {
  display: block;
  position: relative;
  line-height: 50px;
  height: 50px;
  cursor: pointer;
}

.button > span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 0;
  border: 1px solid white;
  border-left: none;
  border-bottom: none;
  transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.button.dark > span:after {
  border-color: #191919;
}

.button:hover > span:after {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: width 0.3s ease-out, height 0.15s ease-out 0.3s;
}

.button > span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 20px;
  border: 1px solid white;
  border-right: none;
  border-bottom: none;
  transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.button.dark > span:before {
  border-color: #191919;
}

.button:hover > span:before {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.button>span>span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.button:hover > span > span:after {
  opacity: 1;
  border-bottom: 1px solid white;
  width: calc(100% - 1px);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.button.dark:hover > span > span:after {
  border-color: #191919;
}

/**
** Horizontal Accordion
**/
.pane {
  flex: 0;
  height: 100%;
  transition: flex 0.8s ease-in-out;
  position: relative;
  min-width: 120px;
}

.pane .content {
  /* transition: opacity 0.1s ease; */
  max-width: 0;
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.pane.active {
  flex: 7;
}

.pane.active .content {
  max-width: calc(100% - 120px);
  max-height: 100%;
  opacity: 1;
  padding: 57px;
  transition: opacity 2s ease;
  max-width: 518px;
  letter-spacing: 0.72px;
}

/**
** Gravity Forms
**/
.gform_wrapper {
  @apply max-w-sm;
}

.gform_wrapper .gform_heading {
  @apply mb-4;
}

.gform_wrapper span.gform_description {
  @apply font-light w-auto;
}

.gform_wrapper label.gfield_label,
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
  @apply font-sans text-xs font-medium uppercase;
}

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
  @apply text-2xs;
}

.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea,
/* prettier-ignore */
.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
  @apply border-none py-1 px-2 text-sm font-light;

  transition: all 200ms ease-in-out;

  /* &:focus {
    @apply border-grey outline-none shadow;
  } */
}

.gform_wrapper .button,
.gform_wrapper .gform_footer input[type="submit"] {
  @extend %btn;
}

.gform_wrapper .gfield_required {
  color: inherit;
}

.gform_wrapper .validation_error {
  @apply p-4 py-8 text-red text-center text-base border;
}

.gform_wrapper .gfield_error .gfield_label,
.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label,
.gform_wrapper li.gfield_error ul.gfield_checkbox,
.gform_wrapper li.gfield_error ul.gfield_radio {
  @apply text-red;
}

/* prettier-ignore */
.gform_wrapper li.gfield_error input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.gform_wrapper li.gfield_error textarea {
  @apply border-red;
}

.gform_wrapper .validation_message {
  @apply w-full text-red;
}

.gform_validation_container {
  display: none !important;
}
